asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==5.0.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.8
django-paypal==2.0
django-session-timeout==0.1.0
gunicorn==21.2.0
idna==3.6
packaging==23.2
paypalrestsdk==1.13.3
pillow==10.2.0
pycparser==2.21
pyOpenSSL==23.3.0
python-certifi-win32==1.6.1
python-decouple==3.8
pytz==2023.3.post1
razorpay==1.4.1
requests==2.31.0
setuptools-scm==8.0.4
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wrapt==1.16.0
